<p id="notice"><%= notice %></p>

<h1>Studants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th>Unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studants.each do |studant| %>
      <tr>
        <td><%= studant.name %></td>
        <td><%= studant.birthday %></td>
        <td><%= studant.unit %></td>
        <td><%= link_to 'Show', studant %></td>
        <td><%= link_to 'Edit', edit_studant_path(studant) %></td>
        <td><%= link_to 'Destroy', studant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Studant', new_studant_path %>
