<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @school_class.teacher %>
</p>

<p>
  <strong>Number:</strong>
  <%= @school_class.number %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @school_class.unit %>
</p>

<%= link_to 'Edit', edit_school_class_path(@school_class) %> |
<%= link_to 'Back', school_classes_path %>
