<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @unit.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @unit.number %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @unit.complement %>
</p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @unit.school %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
